h4 {
  border-bottom: 1px solid #eee;
  margin-top: 20px;
  padding-bottom: 5px;
}

.content-thumbnail {
  height: 175px;
  margin-bottom: 20px;
  vertical-align: middle;
}

.content-thumbnail img {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#blue {
  background-color: blue;
  border-color: darkblue;
  color: white;
}

#yellow {
  background-color: yellow;
}

#view-pictures {
  border-bottom: 1px solid black;
  padding-bottom: 3px;
}

#view-pictures:hover {
  cursor: pointer;
}

.modal-title {
  border-bottom: none;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.1;
}

.modal-body {
  display: flex;
  flex-wrap: wrap;
}

.customizedItem {
  border-bottom: 1px solid #eee;
  display: flex;
  flex-grow: 1;
  margin: 10px 0;
  padding-bottom: 20px;
}

.customizedText {
  margin-left: 10px;
}

.table {
  margin-top: 20px;
}

/*************************************/
/*********** FURNITURE LIST **********/
/*************************************/

/*.furniture-listing {
  display: flex;
}*/
